.container{
    display: flex;
    height: 100vh;
}
.textarea{

    width: 100%
}
.preview{

    width: 100%
}
.parent{
    background-color:#74FF01;
    padding: 20px;
}
.child{
    background-color: #C8601F;
}
